.leaflet-toolbar-editable {
  width: 80px !important;
}

.leaflet-toolbar-editable a,.leaflet-toolbar-editable a:hover  {
  display: flex;
  align-items: left;
  justify-content: start;
  width: 100% !important;
  cursor:pointer;
}

.leaflet-toolbar-editable span {
  background-image: linear-gradient(transparent,transparent), url(spritesheet.svg) !important;
  width: 30px;
  height: 30px;
  margin-right: 0.3em;
}

span.leaflet-toolbar-editable-line {
  background-position: -2px;
}

span.leaflet-toolbar-editable-polygon {
  background-position: -35px;
}

span.leaflet-toolbar-editable-marker {
  background-position: -63px;
}

#tooltip {
  display: none;
  position: absolute;
  background: #666;
  color: white;
  opacity: 0.5;
  padding: 10px;
  border: 1px dashed #999;
  font-family: sans-serif;
  font-size: 12px;
  height: 20px;
  line-height: 20px;
  z-index: 1000;
}
