.leaflet-control-styleeditor {
  display: none;
}

.leaflet-styleeditor-header, .leaflet-styleeditor-button {
  background-color: transparent;
}

.leaflet-styleeditor-button-custom {
  background-color: #dc3545 !important;
  margin-top: 1em;
}

.leaflet-styleeditor-label {
  margin-top: 1em;
}

.leaflet-styleeditor-uiElement:first-child .leaflet-styleeditor-label {
  margin-top: 0;
}

.leaflet-styleeditor-interior {
  padding-top: 0;
  padding-bottom: 0;
}

.leaflet-styleeditor-select {
  width: 100%
}

.leaflet-styleeditor-select-option {
  padding: 18px;
}

.leaflet-styleeditor-select-option-wrapper {
  margin-top: 0;
}

.leaflet-styleeditor-tooltip-wrapper {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  top: 5%;
  bottom: auto;
}

.leaflet-styleeditor-tooltip {
  border: none;
  background-color: rgba(255, 255, 255, 0.6);
  color: #000;
}

.leaflet-styleeditor-tooltip button {
  margin: 0px 5px;
}

.label {
  text-shadow: 1px 1px 2px white, -1px -1px 2px white;
  font-weight: bold;
}

.label, .label.leaflet-tooltip-bottom::before  {
  border: none;
  box-shadow: none;
  background: none;
}

input.form-control[type=text] {
  width: 100%;
}
