.leaflet-control-styleeditor {
  display: none;
}

.leaflet-styleeditor-header, .leaflet-styleeditor-button {
  background-color: transparent;
}

.leaflet-styleeditor-button-custom {
  background-color: #dc3545 !important;
  margin-top: 1em;
}

.leaflet-styleeditor-label {
  margin-top: 1em;
}

.leaflet-styleeditor-uiElement:first-child .leaflet-styleeditor-label {
  margin-top: 0;
}

.leaflet-styleeditor-interior {
  padding-top: 0;
  padding-bottom: 0;
}

.leaflet-styleeditor-select {
  padding: 24px;
}

.leaflet-styleeditor-select-option {
  padding: 18px;
}

.leaflet-styleeditor-select-option-wrapper {
  width: 150px;
}

.leaflet-styleeditor-tooltip {
  border: none;
  background-color: rgba(68,68,68,.6);
}

.leaflet-styleeditor-tooltip {
  color: #fff;
}

/*
@keyframes fade {
    to {
    opacity: 0.5;
  }
}

.leaflet-styleeditor-marker-selected {
  animation: fade 1s infinite alternate;
}

/* #00ad87 */
