.leaflet-control-styleeditor {
  display: none;
}

.leaflet-styleeditor-header, .leaflet-styleeditor-button {
  background-color: transparent;
}

.leaflet-styleeditor-button-custom {
  background-color: #dc3545 !important;
  margin-top: 1em;
}

.leaflet-styleeditor-label {
  margin-top: 1em;
}

.leaflet-styleeditor-uiElement:first-child .leaflet-styleeditor-label {
  margin-top: 0;
}

.leaflet-styleeditor-interior {
  padding-top: 0;
  padding-bottom: 0;
}

.leaflet-styleeditor-select {
  padding: 24px;
}

.leaflet-styleeditor-select-option {
  padding: 18px;
}

.leaflet-styleeditor-select-option-wrapper {
  width: 150px;
}

.leaflet-styleeditor-tooltip-wrapper {
  position: absolute;
  left: 50%;
  top: 5%;
  width: 40%;
}

.leaflet-styleeditor-tooltip {
  position: relative;
  left: -50%;
  border: none;
  background-color: rgba(255, 255, 255, 0.6);
  color: #000;
}

.leaflet-styleeditor-tooltip button {
  margin: 0px 5px;
}

.label {
  text-shadow: 1px 1px 2px white, -1px -1px 2px white;
  font-weight: bold;
}

.label, .label.leaflet-tooltip-bottom::before  {
  border: none;
  box-shadow: none;
  background: none;
}

/*
@keyframes fade {
    to {
    opacity: 0.5;
  }
}

.leaflet-styleeditor-marker-selected {
  animation: fade 1s infinite alternate;
}

/* #00ad87 */
